@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400&display=swap");

:root {
  font-family: "Jost", sans-serif;
  --background-color: #a0acc2;
  --h-text-color: #233047;
  --container-bg: #ede8e8;
  --box-shadow: #6c69691a;
  --border-color: #182835;
  --input-text: #0b1a3e;
  --input-bg:#fcfeffd6;
  --btn-bg: #475d84;
  --btn-text: #e9f4fb;
}

body {
  background: var(--background-color);
}

h1 {
  text-align: center;
  font-size: 48px;
  color: var(--h-text-color);
}

.container {
  width: 400px;
  margin: 50px auto;
  padding: 10px;
  border-radius: 30px;
  background: var(--container-bg);
  box-shadow: 0px 10px 40px 0px var(--box-shadow);
}

input[type="text"],
input[type="email"] {
  padding: 10px;
  margin: 10px auto;
  display: block;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background: var(--input-bg);
  width: 274px;
  color: var(--input-text);
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: none;
}

input[type="Submit"] {
  margin: 10px auto;
  display: block;
  width: 40%;
  height: 40px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

input[type="Submit"]:hover,
.add:hover,
.remove:hover {
  background: var(--btn-bg);
  color: var(--btn-text);
  transition: 0.5s;
}

.controls {
  width: 294px;
  margin: 20px auto;
}

.add,
.remove {
  padding: 7px;
  border: 1px solid;
  border-radius: 15px;
  cursor: pointer;
}

.remove {
  float: right;
}

.controls button i {
  margin-right: 5px;
}

.remove:hover,
.add:hover {
  background: var(--btn-bg);
  color: var(--btn-text);
  transition: 0.5s;
}
